$clr-green: #279b37;
$clr-blue: #083859;
$clr-grey-light: #f7f7f7;
$clr-grey-medium: #c0c0c0;
$clr-grey-darker: rgb(90, 90, 90);
$clr-grey-dark: rgb(41, 41, 41);
$clr-white: rgb(255, 255, 255);










